<html>
   <body>
      <center>
         <form method="POST" action="/createpage/">
            <input type="submit" id="create" name="create" value="Create Question"></center>
            {% csrf_token %}         
         </form>
      <br>
      <br>
      <h3>Question</h3>
         <ul>
      {% for question in question_list %}
         <dd><a id="{{ forloop.counter }}"  name="{{ question.question_text }}"  
                href="/detail/{{ question.id }}">{{ forloop.counter }}.  {{ question.question_text }}</a></dd>
      {% endfor %}
         </ul>
   </body>
</html>
